.calc-button {
  @include button();
}

@keyframes rainbow {
  8% { color: green; }
  21% { background-color: blue; }
  73% { background-color: whitesmoke; }
  82% { background-color: violet; }
  100% { background-color: yellow; }
}

.rainbow {
  width: 100px;
  height: 100px;
  animation: rainbow 1s linear;
}

@keyframes spin {
  25% {
    transform: rotate(0deg);
  }
}

@keyframes move {
  50% {
    transform: translateX(0);
  }
}


.spinMove {
  width: 150px;
  height: 150px;
  animation: spinMove 10s linear infinite;
}


